pip==21.3
wheel==0.36.2
CherryPy==18.4.0
Cython==0.29.22
future==0.18.2
pymavlink==2.4.4
pyserial==3.4
numpy==1.18.1
protobuf==3.10.0
psutil==5.7.0
pyzmq==18.1.1
msgpack==1.0.2
dataclasses==0.8
csv-logger
dronekit
astunparse==1.6.3
cached-property==1.5.2
click==8.0.4
ghp-import==2.1.0
importlib-metadata==4.8.3
Jinja2==3.0.3
Markdown==3.3.7
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.3.1
mkdocs-autorefs==0.3.1
mkdocstrings==0.17.0
packaging==21.3
#pkg-resources==0.0.0
pymdown-extensions==9.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytkdocs==0.15.0
PyYAML==6.0
pyyaml-env-tag==0.1
six==1.16.0
typing-extensions==4.1.1
watchdog==2.1.2
zipp==3.6.0
Pygments==2.11.0
mkdocs-material-extensions==1.0.3
mkdocs-material==8.2.1
